@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: transparent;
}
.heading{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.navbar{
    background-color: black;
    position: fixed;
    
    width: 100%;
}
.navlist{
  overflow: auto;
}
.nav{
    padding: 12px;
}
.navlist li{
  float: left;
  list-style: none; 
  padding: 14px;
}
.createAccount{
    float: right;
}
#create{
    font-family: 'Poppins', sans-serif;
    padding: 9px;
    border: 2px solid brown;
    border-radius: 32px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(201, 92, 14);
    background-color: bisque;
}
#create:hover{
  background-color: rgb(240, 240, 127);
  font-weight: bold;
  color:crimson;
}
#create:active{
  font-weight: bold;
  color: blue;
  background-color: rgb(190, 247, 247);
}
.navlist li a{
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif; 
}
.navlist li a:hover{
  color: lightblue;
}
.navlist li a:active{
  color: rgb(236, 50, 88);
}
#home{
  border: 2px solid black;
  font-family: 'Poppins', sans-serif;
  background-color: burlywood;
  text-align: center;
  justify-content: center;
  align-items: center;  
  width: 100%;
  height: 750px;
}
#home h1{
  padding: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#ncert{
  border: 2px solid black;
  font-family: 'Poppins', sans-serif;
  background-color: chocolate;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 750px;
}
#ncert h1{
  padding: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#scert{
  border: 2px solid black;
  font-family: 'Poppins', sans-serif;
  background-color: lightsalmon;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 750px;
}
#scert h1{
  padding: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#contact{
  border: 2px solid black;
  font-family: 'Poppins', sans-serif;
  background-color: bisque;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 750px;
}
#contact h1{
  padding: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}